<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
</head>
<body>
<div id="products"></div>

<script>
    $(document).ready(function() {
        $.get("/products", function(products) {
            products.forEach(product => {
                $("#products").append(`
                    <div class="product">
                        <img src="${product.image}" alt="${product.name}">
                        <h3>${product.name}</h3>
                        <p>Цена: ${product.price} ₽</p>
                    </div>
                `);
            });
        });
    });
</script>

</body>
</html>